/**
 * AutoComplete
 */
.twitter-typeahead
{
    width: 100%;
    color: #000000;
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
}

.twitter-typeahead .tt-input, .twitter-typeahead .tt-hint
{
    width: 100%;
    margin: 0px;
    padding: 5px 5px;
    outline: none;
}

.twitter-typeahead .tt-input:focus
{
    border: 2px solid #0097cf;
}

.twitter-typeahead .category
{
    background-color: #F5F5F5;
    text-align: center;
    border: 1px solid #dddddd;
    padding: 5px 0;
}

.twitter-typeahead .tt-hint
{
    color: #999;
}

.twitter-typeahead .thumb {
    float: left;
}

.twitter-typeahead .thumb img {
    width: 50px;
}

.twitter-typeahead .info {
    margin-left: 60px;
}

.twitter-typeahead .tt-dropdown-menu
{
    width: 100%;
    min-width: 210px;
    padding: 0;
    background-color: #fff;
    border-bottom: solid 1px #DDDDDD;
}

.twitter-typeahead .tt-dropdown-menu .tt-suggestion
{
    text-align: left;
    padding: 10px 10px;
    border-left: solid 1px #DDDDDD;
    border-right: solid 1px #DDDDDD;
}

.twitter-typeahead .tt-dropdown-menu .tt-suggestion:not(:last-child)
{
    border-bottom: solid 1px #F5F5F5;
}

.twitter-typeahead .tt-dropdown-menu .tt-suggestion.tt-cursor
{
    background-color: #E5E5E5;
    cursor: pointer;
}

.twitter-typeahead .tt-dropdown-menu .tt-suggestion p
{
    margin: 0;
}
.twitter-typeahead .tt-dropdown-menu .tt-suggestion a
{
    color: #000;
    text-decoration: none;
}
.twitter-typeahead .tt-dropdown-menu .tt-suggestion em
{
    font-style: normal;
    font-weight: bold;
}

.twitter-typeahead .footer:not(:last-child)
{
    display: none;
}

.twitter-typeahead .footer
{
    font-size: 10px;
    text-align: right;
    border-top: solid 1px #f5f5f5;
    margin: -10px -10px;
    padding: 10px;
}

/**
 * Instant Search
 */

#algolia_instant_selector
{
    margin: 10px;
}

#facets-container div.checker
{
    display: inline;
}

#algolia_instant_selector:after
{
    content: ' ';
    clear: both;
    display: block;
}

#algolia_instant_selector .category
{

}

#algolia_instant_selector .result-wrapper
{
    width: 33.33333333%;
    display: inline;
    float: left;
}

#algolia_instant_selector .title
{

}

#algolia_instant_selector .title img
{
    width: 200px;
}

#algolia_instant_selector .hits.with_facets
{
    /*float: left;*/
    /*width: 80%;*/
}

#algolia_instant_selector .hits .infos
{
 /*   margin: 0 10px 10px 10px;
    padding: 10px;
    background-color: #F5F5F5;
    text-align: center;
    border: solid 1px #DDDDDD;*/
    padding: 18px 10px;
    color: #999;
}

/**
 * Facets
 */

#algolia_instant_selector .infos .logo
{
    font-size: 10px;
}

#facets-container .facets.with_facets
{
    /*float: left;*/
    /*width: 20%;*/
}

#facets-container .facet
{
    /*border: solid 1px #DDDDDD;*/
    background-color: white;
}

#facets-container .facet:not(:first-child)
{
    margin-bottom: 10px;
}

#facets-container .facet .name
{
    padding: 10px 0;
    color: rgb(119, 119, 119);
    font-weight: bold;
    font-size: 12px;
    /*background-color: #F5F5F5;*/
    /*text-align: center;*/
    /*border-bottom: solid 1px #DDDDDD;*/
}

#facets-container .facet .sub_facet
{
    padding: 4px 0;
    cursor: pointer;
}

#facets-container .facet .sub_facet.checked
{
    /*background-color: #E5E5E5;*/
}

#facets-container .facet .sub_facet:not(:last-child)
{
    /*border-bottom: solid 1px #F5F5F5;*/
}

#facets-container .algolia-slider
{
    margin: 10px;
}

#facets-container .algolia-slider-info
{
    margin: 10px 5px;
}

#algolia_instant_selector .pagination-wrapper
{
    width: 100%;
}

#algolia_instant_selector .pagination-wrapper.with_facets
{
    width: 80%;
    margin-left: 20%;
}

#algolia_instant_selector .algolia-pagination
{
    display: inline-block;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

#algolia_instant_selector .algolia-pagination li
{
    float: left;
    display: inline;
    border: solid 1px #DDDDDD;
    padding: 0px 10px;
    margin: 0 5px;
    line-height: 25px;
    background-color: white;
}

#algolia_instant_selector .algolia-pagination li.active
{
    background-color: #F5F5F5;
}

#algolia_instant_selector .algolia-pagination li.disabled
{
    display: none;
}

#algolia_instant_selector .text-center
{
    text-align: center;
}

#algolia_instant_selector em
{
    background-color: #ffffe0;
    font-style: normal;
}

#algolia_instant_selector h1
{
    margin: 0;
}

#algolia_instant_selector .result
{
    border: solid 1px #dddddd;
    background-color: white;
    margin: 20px 10px;
}

#algolia_instant_selector .result .result-sub-content
{
    padding: 10px;
}

#algolia_instant_selector .result .result-sub-content .description p
{
    height: 70px;
    overflow: hidden;
}

#algolia_instant_selector .result .result-thumbnail
{
    text-align: center;
    padding: 10px;
}

#algolia_instant_selector .result .result-excerpt
{
    text-align: center;
}

#algolia_instant_selector .result .result-excerpt .price
{
    color: #77a464;
}

#algolia_instant_selector .result .result-title
{
    padding: 10px;
    background-color: #F5F5F5;
    text-align: center;
    border-bottom: solid 1px #DDDDDD;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#algolia_instant_selector .ui-widget-header {
    background-color: #bcbcbc;
}

#algolia_instant_selector .hits .infos .clear
{
    cursor: pointer;
    background-color: #F0F0F0;
    border: solid 1px #DDDDDD;
    padding: 5px;
    margin-left: 20px;
}
#algolia_instant_selector .hits .infos .clear:hover
{
    background-color: #DDDDDD;
}
.filters-container {
    max-height: 265px;
    overflow: auto;
}
.product-container h5[itemprop="name"] {
    min-height: 40px;
}
.ui-slider-range {
    background: none;
    background-color: #ccc;
}
.ui-slider-handle {
    background: none !important;
    background-color: #e6e6e6 !important;
}
ul.product_list.grid > li {
    margin-top: 40px !important;
}
.product-container .availability span {
    color: #000 !important;
}
ul.product_list.grid > li .product-container .button-container {
    margin-bottom: 0 !important;
}
ul.product_list.grid > li .product-container .content_price {
    padding: 14px 0 15px !important;
}
ul.product_list.grid li.hovered h5 {
    min-height: 53px !important;
}
div.checker span {
    top: 2px;
}
h1.product-listing:not(.algolia-product-listing) {
    display: none;
}
#algolia_instant_selector h1 {
    margin: inherit !important;
    padding: 0 !important;
}
#columns > div.breadcrumb.clearfix > span.navigation_page > li {float:right}