.motor-btn-filter--brand:before {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    overflow: hidden; 
    text-indent: -9999px; 
    text-align: left;
    background-position: 0 -315px;
    width: 45px; 
    height: 45px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    content: "";
}

.brand-abarth:before{background-position: 0 0;}
.brand-alfa-romeo:before{background-position: -45px 0;}
.brand-alpine:before{background-position: -90px 0;}
.brand-aston-martin:before{background-position: -135px 0;}
.brand-audi:before{background-position: -180px 0;}
.brand-bentley:before{background-position: -225px 0;}
.brand-bmw:before{background-position: -270px 0;}
.brand-bugatti:before{background-position: 0 -45px;}
.brand-cadillac:before{background-position: -45px -45px;}
.brand-chevrolet:before{background-position: -90px -45px;}
.brand-chrysler:before{background-position: -135px -45px;}
.brand-citroen:before{background-position: -180px -45px;}
.brand-corvette:before{background-position: -225px -45px;}
.brand-cupra:before{background-position: -270px -45px;}
.brand-dacia:before{background-position: 0 -90px;}
.brand-daewoo:before{background-position: -45px -90px;}
.brand-daihatsu:before{background-position: -90px -90px;}
.brand-dodge:before{background-position: -135px -90px;}
.brand-ds:before{background-position: -180px -90px;}
.brand-ferrari:before{background-position: -225px -90px;}
.brand-fiat:before{background-position: -270px -90px;}
.brand-ford:before{background-position: 0 -135px;}
.brand-honda:before{background-position: -45px -135px;}
.brand-hummer:before{background-position: -90px -135px;}
.brand-hyundai:before{background-position: -135px -135px;}
.brand-infiniti:before{background-position: -180px -135px;}
.brand-isuzu:before{background-position: -225px -135px;}
.brand-iveco:before{background-position: -270px -135px;}
.brand-jaguar:before{background-position: 0 -180px;}
.brand-jeep:before{background-position: -45px -180px;}
.brand-kia:before{background-position: -90px -180px;}
.brand-lada:before{background-position: -135px -180px;}
.brand-lamborghini:before{background-position: -180px -180px;}
.brand-lancia:before{background-position: -225px -180px;}
.brand-land-rover:before,.brand-landrover:before{background-position: -270px -180px;}
.brand-lexus:before{background-position: 0 -225px;}
.brand-lotus:before{background-position: -45px -225px;}
.brand-maserati:before{background-position: -90px -225px;}
.brand-mazda:before{background-position: -135px -225px;}
.brand-mercedes:before,.brand-mercedes-benz:before,.brand-mercedesbenz:before{background-position: -180px -225px;}
.brand-mini:before{background-position: -225px -225px;}
.brand-mitsubishi:before{background-position: -270px -225px;}
.brand-nissan:before{background-position: 0 -270px;}
.brand-opel:before{background-position: -45px -270px;}
.brand-peugeot:before{background-position: -90px -270px;}
.brand-porsche:before{background-position: -135px -270px;}
.brand-renault:before{background-position: -180px -270px;}
.brand-rolls-royce:before{background-position: -225px -270px;}
.brand-saab:before{background-position: -270px -270px;}
.brand-seat:before{background-position: -315px 0;}
.brand-skoda:before{background-position: -315px -45px;}
.brand-smart:before{background-position: -315px -90px;}
.brand-ssangyong:before{background-position: -315px -135px;}
.brand-subaru:before{background-position: -315px -180px;}
.brand-suzuki:before{background-position: -315px -225px;}
.brand-toyota:before{background-position: -315px -270px;}
.brand-vide:before{background-position: 0 -315px;}
.brand-volkswagen:before{background-position: -45px -315px;}
.brand-volkswagen-utilitaire:before,.brand-volkswagen-utilitaires:before{background-position: -90px -315px;}
.brand-volvo:before{background-position: -135px -315px;}
.brand-bmw-i:before{background-position: -180px -315px;}
.brand-tesla:before{background-position: -225px -315px;}
.brand-mg-motor:before{background-position: -315px -315px;}
.brand-aixam:before{background-position: 0 -315px;}
.brand-kymco:before{background-position: -45px -370px;}
.brand-husqvarna:before{background-position: -135px -370px;}
.brand-indian:before{background-position: -90px -370px;}
.brand-ktm:before{background-position: -180px -370px;}
.brand-microcar:before{background-position: -270px -315px;}
.brand-sym:before{background-position: -225px -370px;}
.brand-yamaha:before{background-position: 0px -370px;}
.brand-kawasaki:before{background-position: -270px -370px;}
.brand-chatenet::before{background-position: -45px -415px;}
.brand-moto-guzzi::before{background-position: 0px -415px;}
.brand-royal-enfield::before{background-position: -315px -370px;}
