/* HOME SEARCH */
#search-home {
    padding: 6% 0;
}

#search-home .hero-zone__content {
    max-width: 1140px;
}

#search-home h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}

#search-home h3 {
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: 2rem;
}
#search-home h3 span.badge {
    font-size: 2.5rem;
}

#search-home #search-home-input {
    height: auto;
    font-size: 18px;
    line-height: 60px;
    height: 60px;
    font-weight: normal;
    padding: 0 15px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

#search-home .ais-current-refined-values--item {
    display: inline-block;
}

#search-home .algolia-autocomplete {
    width: 100%;
}

#search-home .btn-search-home {
    text-align: center;
    margin: 0;
    padding: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    font-size: 1rem;
    min-width: 250px;
}

#search-home .btn-search-small {
    min-width: 70px;
}

#search-home .btn-search-home i {
    font-size: 2rem;
    vertical-align: -8px;
}

#search-home .container_critere_search_home {
    z-index: 30;
}

#search-home .container_critere_search_home .homepage-motor {
    position: relative;
}

#search-home .container_critere_selected{
    height: 36px;
}

#search-home .container_critere_selected .ais-clear-all--link{
    font-size: 22px;
}

#search-home .container_refined_values{    
    max-height: 36px;
    overflow-y: auto;
    overflow-x: hidden;
}

#search-home .ais-refinement-list--header {
    cursor: pointer;
    border-radius: 0;
    -webkit-border-radius: 0;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    position: relative;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition: 0.3s color;
    transition: 0.3s color;
}

#search-home .ais-refinement-list--header:before{
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

#search-home .ais-root__collapsible:not(.ais-root__collapsed) .ais-refinement-list--header:before{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#search-home #feature-type_de_vehicule, #search-home #vehicle-brand,
#search-home #vehicle-model, #search-home #feature-energy{
    width: 100%;
}

#search-home .ais-refinement-list--header i {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: lighter;
    vertical-align: middle;
    padding: 15px;
}
#search-home .ais-refinement-list--header strong{
    padding: 19px 0;
}

#search-home .ais-refinement-list--header i.icon-car{
    padding: 7px 15px 23px 15px;
}

#search-home .ais-refinement-list--header i.icon-car2{
    padding: 10px 15px 20px 15px;
}

#search-home .ais-refinement-list--body {
    position: absolute;
    left: 0;
    float: left;
    min-width: 10rem;
    padding: 2rem;
    z-index: 1000;
    text-align: left;
    background-clip: padding-box;  
    transform: none !important;
    will-change: unset !important;
    width: 100%;
    top: 100%;
    height: 305px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-box-shadow: 0 6px 15px rgba(51,51,51,.35);
    box-shadow: 0 7px 10px rgba(51,51,51,.35);
}
#search-home .ais-refinement-list--body .ais-show-more i{
    vertical-align: -4px;
    font-size: 22px;
}

#search-home .ais-root__collapsible .ais-refinement-list--body {
    display: none;
}

#search-home .ais-root__collapsible:not(.ais-root__collapsed) .ais-refinement-list--body {
    display: block;
}

#search-home .container_critere_search_home .link_all_offers {
    text-transform: uppercase;
    line-height: 18px;
    font-weight: 700;
}

#search-home .container_critere_search_home .btn-group {
    position: static;
}

#search-home .ais-refinement-list--list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}

#search-home .ais-refinement-list--list > div{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

#search-home #search-home-section{margin-top: 1rem !important;}

#search-home .ais-refinement-list--item__block .ais-refinement-list--item .btn{
    position: relative;
    padding-right: 40px;
    width: 100%;
    height: 100%;
}

#search-home .ais-refinement-list--item__block .ais-refinement-list--item .motor-btn-filter--brand{
    position: relative;
    padding-left: 50px;
}

#search-home .ais-refinement-list--item__block .ais-refinement-list--item .btn span{
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
}
#search-home .ais-refinement-list--item__block .ais-refinement-list--list > .ais-refinement-list--item{
    padding: 0 15px;
    margin-bottom: 15px;
}
#search-home .ais-refinement-list--item__block .ais-refinement-list--list > .ais-refinement-list--item > div{
    height: 100%;
}
#search-home .ais-refinement-list--item__block .ais-refinement-list--list > div:not(.ais-refinement-list--item){
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-top: 20px;
}
#search-home .ais-refinement-list--item__block .ais-refinement-list--list > div:not(.ais-refinement-list--item) a{
    padding: 10px 15px;
}

#search-home #feature-type_de_vehicule,
#search-home #vehicle-model, #search-home #feature-energy{

}

#search-home .container_critere_search_home .chip {
    height: auto;
}

#search-home .container_critere_search_home .aa-dataset-bodywork {
    min-width: 200px;
}

section#search-home[data-bgactive='1'] {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
}
@media only screen and (min-width: 1025px) {
	section#search-home[data-bgactive='1'] {
		background-attachment: fixed;
	}
}

#search-home #tab_price_mensualite_content .collapsing {
    -webkit-transition: height .35s ease !important;
    transition: height .35s ease !important;
}

#search-home #tab_price_mensualite_content .irs-from, 
#search-home #tab_price_mensualite_content .irs-to, 
#search-home #tab_price_mensualite_content .irs-single {
    font-size: 14px;
    top: -10px;
}

#search-home #tab_price_mensualite_content .ion-slider-wrapper .irs-slider.from,
#search-home #tab_price_mensualite_content .ion-slider-wrapper .irs-slider.to{
    border-radius: 50%;
    top: 15px;
    width: 30px !important;
    height: 30px !important;
} 

#search-home #tab_price_mensualite_content .irs-line-left{
    left: 3px;
}
#search-home #tab_price_mensualite_content .irs-line-right{
    right: 3px;
}
#search-home .button_collapse_price:after,
#search-home .button_collapse_mensualite:after {
    position: absolute;
    right: .5rem;
    font-family: 'FontAwesome';
    -webkit-font-smoothing: antialiased;
    content: '';
}
#search-home .button_collapse_price.collapsed:after,
#search-home .button_collapse_mensualite.collapsed:after {
    content: '';
}

#search-home #tab_price_mensualite button{
    text-align: left;
    padding-left: 10px;
}

/* Home autocomplete by Algolia */

.algolia-autocomplete {
    width: 100%
}

.algolia-autocomplete .aa-dropdown-menu .aa-dataset-manufacturer, .algolia-autocomplete .aa-dropdown-menu .aa-dataset-model {
    margin-bottom: 5px;
}

.form-group--search-home .aa-dropdown-menu {
    margin-top: 0;
    text-align: left;
}

.algolia-autocomplete .label-title {
    color: #777;
    font-size: 1.2rem;
    line-height: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

.algolia-autocomplete .aa-dropdown-menu {
    border-color: transparent;
    box-shadow: 0 0 15px rgba(51, 51, 51, .35);
    margin-top: 10px;
    padding: 15px 10px 10px 10px;
    max-height: 50rem;
    overflow-y: auto;
}

.algolia-autocomplete .aa-dropdown-menu {
    width: 100%;
    background-color: #fff;
    border: 1px solid #999;
    border-top: none;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
    cursor: pointer;
    padding: 5px 4px;
    border: 1px solid white;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
    color: #000;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
    font-weight: 700;
    font-style: normal
}

.algolia-autocomplete .aa-hint {
    color: #999
}

.algolia-autocomplete .aa-hint, .algolia-autocomplete .aa-input {
    width: 100%
}

.aa-custom-menu-template .label-title {
    font-weight: 700;
}

.aa-custom-menu-template .list-group-item {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    position: relative;
    padding-right: 30px;
}

.aa-custom-menu-template .list-group-item .motor-count {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 5px;
    font-size: 12px;
    font-weight: 700;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    #search-home .container_critere_search_home .dropdown-menu .homepage-search_engine-submit > span {
        padding: 9px 0;
    }

    #search-home .ais-refinement-list--list > div{
        height: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
}

@media (max-width: 768px){
    #search-home .btn-search-home{min-width: 70px;}
    #search-home #search-home-section{margin-top: 0 !important;}
}

/* SCROLLBAR */
.collapsible-body::-webkit-scrollbar,
.ais-refinement-list--body::-webkit-scrollbar,
#current-refined-values::-webkit-scrollbar {
    width: 6px
}

.ais-refinement-list--body::-webkit-scrollbar-track,
.collapsible-body::-webkit-scrollbar-track,
#current-refined-values::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #ececee;
}

.ais-refinement-list--body::-webkit-scrollbar-thumb,
.collapsible-body::-webkit-scrollbar-thumb,
#current-refined-values::-webkit-scrollbar-thumb {
    border-radius:10px;
    background: #c9c9cb;
}

/* logo marques */