.list-alert__item__content {
    position: relative;
}
.list-alert__item__content a.btn-close {
    float: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    font-size: 1.5rem;
}
.list-alert__item__content .chip{
    padding-right: 15px;
}